<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Hello Akka HTTP</display-name>
	<description>Say hello, from Akka HTTP</description>
	<listener>
		<listener-class>hello.Initializer</listener-class>
	</listener> 
	<servlet>
		<servlet-name>akkaMistServlet</servlet-name>
		<servlet-class>akka.http.AkkaMistServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<url-pattern>/akka</url-pattern>
		<servlet-name>akkaMistServlet</servlet-name>
	</servlet-mapping>
</web-app>

